<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1 class="strong text-center">List of application configuration</h1>
	   </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-md-offset-10">
            <button ng-click="addApplicationConfig()" class="btn btn-primary btn-md btn-block pull-right">
				<span class="glyphicon glyphicon-home"></span> Add
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="grid1" ui-grid="gridOptions" class="grid"></div>
        </div>
    </div>
</div>